[Unit]
Description=Autohaus System mit RestAPI und Scheduler

[Service]
User=user
ExecStart=/usr/bin/python /home/user/AutoHausMain/main.py
Restart=always

[Install]
WantedBy=multi-user.target
